/*-----------styles index-----------------*/

@media (max-width: 999px){
    .profile-container {
        justify-content: center;
    }
    .profile-container .profile-container__description {
        width: 100%;
        margin-top: 30px;
    }

    .profile-container__description h2{
        text-align: center;
        margin-bottom: 10px;
    }

    .profile-container__description {
        justify-content: center;
    }

    .proyect-container{
        margin-right: 30px;
    } 

    .proyects-main-container{
        justify-content: center;
    }
}
@media (max-width: 530px){
    nav .nav-logo-container {
        margin-left: 0;
    }

    nav .profile-link a {
        font-size: 23px;
        font-weight: bold;
    }
}
@media (max-width: 425px){
    nav .nav-logo-container {
        margin-left: 0;
    }

    nav .profile-link a {
        font-size: 16px;
        font-weight: bold;
    }

    .home-main-text{
        width: 130%;
    }

    nav .profile-link{
        margin-right: 20px;
    }

    .contact-main-container{
        padding-bottom: 0;
    }

    .contact-main-container div {
        display: flex;
        width: 80%;
        height: 100%;
    }

    .contact-main-container img {
        height: 100px;
    }

    .contact-main-container .contact-left, .contact-right {
        margin-top: 0;
        text-align: initial;
    }
}



/* @media (min-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        display: block;
    }
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
} */